security:

    providers:
        our_db_provider:
            entity:
                class: App\Entity\Participant
                property: pseudo

    firewalls:
        main:
            pattern: ^/
            provider: our_db_provider
            anonymous: ~
            form_login:
                login_path: login
                check_path: login
            logout:
                path: logout
                target: home


    encoders:
        App\Entity\Participant:
            algorithm: bcrypt

