{% extends 'layout.html.twig' %}

{%  block main %}
  <form method="post">

      <label for="nom"> Mot de passe : </label>
      <input type="text" name="_username" id="nom">

      <label for="motPasse"> Mot de passe : </label>
      <input type="password" name="_password" id="motPasse">

      <button type="submit"> Se connecter</button>
  </form>
{% endblock %}


{% block title %}Login {% endblock %}
