{% extends 'layout.html.twig' %}

{%  block main %}
  <form method="post">

      <label for="username"> Mot de passe : </label>
      <input type="text" name="_username" id="username">

      <label for="mdp"> Mot de passe : </label>
      <input type="password" name="_password" id="password">

      <button type="submit"> Se connecter</button>
  </form>
{% endblock %}


{% block title %}Login {% endblock %}
