{% extends 'layout.html.twig' %}

{%  block main %}


    <form class="jumbotron " method="post">

        <div class="row">
        <label for="username"> Pseudo : </label>
        <input type="text" name="_username" id="username">

        <label for="mdp"> Mot de passe : </label>
        <input type="password" name="_password" id="password">
        <div class="form-check">
            <input type="checkbox" class="form-check-input" id="_remember_me" checked>
            <label class="form-check-label" for="remember_me">Se souvenir de moi</label>
        </div>

        <button class="btn btn-primary" type="submit"> Se connecter</button>
        </div>
    </form>
{% endblock %}


{% block title %}Login {% endblock %}

