{% extends 'layout.html.twig' %}


{%  block main %}
 {{ form_start(registerForm) }}
 {{ form_widget(registerForm) }}
 <button class="btn btn-success" type="submit"> S'inscrire </button>
 {{ form_end(registerForm) }}
{% endblock %}

